* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
  }

  div.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    background-color: #365ce0;
    color: white;
    width: 100%;
    height: auto; 
  }

  header {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    border-bottom: 5px solid #10bfde;
  }

  h1 {
    font-family: 'Georgia, serif';
    color: #10deb9;
    background-color: white;
    width: 100%;
    height: 100%;
    grid-row: auto;
    grid-column: 1 / 2;
    font-size: 3rem;
    text-align: center;
    align-self: center;
    justify-self: start;
  }

  ul.headerlist {
    display: grid;
    list-style-type: none;
    font-size: 1.5rem;
    justify-content: space-around;
    align-content: center;
    grid-row: 1 / 2;
    grid-column: 2 / 6;
    height: 100%;
    width: 100%;
    background-color: white;
  }

  li.home {
    color: #10de73;
    background-color: white;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
  }

  li.about {
    color: #10de73;
    background-color: white;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    width: 100%;
    height: 100%;
  }

  li.recipes {
    color: #10de73;
    background-color: white;
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    width: 100%;
    height: 100%;
  }

  li.contact {
    color: #10de73;
    background-color: white;
    grid-row: 1 / 2;
    grid-column: 5 / 6;
    width: 100%;
    height: 100%;
  }

  div.section-one {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 100%;
    border-right: 5px solid #10bfde;
  }

  img.recipepic {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
  }

  div.section-two {
    display: grid;
    align-self: center;
    grid-row: 2 / 3;
    grid-column: 2 / 6;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    
  }
  
  .description {
    font-size: 1.1rem;
    word-wrap: wrap;
  }
  
  #cook-time {
    font-weight: bold;
  }
  
  .ingredients li {
    list-style: square;
    word-wrap: wrap;
  }
  
  p.time {
    color: yellow;
  }
  
  .external-link {
    color: #87FFE7;
  }
  
  h1, h2, h3, p, li {
    font-family: Helvetica;
    word-wrap: wrap;
  }

  .citation {
    text-align: left;
  }

  div.footer {
    border-top: 5px solid #10bfde;
    grid-row: 3 / 4;
    grid-column: 1 / 6;
    width: 100%;
    height: 100%;
  }

  p.designer {
    background-color: white;
    color: #10deb9;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  @media only screen and (max-width: 767px) {
    
      body {
        font-size: 12px;
      }

      div.section {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
        background-color: rgb(80, 200, 120, 0.5);
        color: white;
        width: 100%;
        height: auto;
      }

      h1 {
        display: grid;
        font-family: 'Georgia, serif';
        color: black;
        opacity: 0.5;
        background-color: yellow;
        width: 100%;
        height: 120px;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        font-size: 5rem;
        text-align: center;
        align-items: center;
        justify-items: center;
      }

      div.section-one {
        align-self: center;
        justify-self: center;
        width: 100%;
        height: 100%;
        grid-row: 2 / 3;
        grid-column: 1 / 2;    
      }
    
      div.section-two {
        align-self: center;
        justify-self: center;
        width: 100%;
        height: 100%;
        grid-row: 3 / 4;
        grid-column: 1 / 2; 
      }

      .description {
        font-size: 1.1rem;
        word-wrap: wrap;
      }
      
      #cook-time {
        font-weight: bold;
      }
      
      .ingredients li {
        list-style: square;
        word-wrap: wrap;
      }
    
      .ingredients {
        padding-bottom: 0px;
      }
      
      p.time {
        color: yellow;
      }
      
      .external-link {
        color: #87FFE7;
      }
      
      h1, h2, h3, p, li {
        font-family: Helvetica;
        word-wrap: wrap;
      }
    
      .citation {
        text-align: left;
      }

      div.footer, p.designer {
        display: grid;
        background-color: yellow;
        color: black;
        opacity: 0.5;
        text-align: center;
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        width: 100%;
        height: 100%;
        align-self: end;
      }
  }

  