* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
  }

  div.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    background-color: #365ce0;
    color: white;
    width: 100%;
    height: auto; 
  }

  header {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    border-bottom: 5px solid #10bfde;
  }

  h1 {
    font-family: 'Georgia, serif';
    color: #10deb9;
    background-color: white;
    width: 100%;
    height: 100%;
    grid-row: auto;
    grid-column: 1 / 2;
    font-size: 3rem;
    text-align: center;
    align-self: center;
    justify-self: start;
  }

  ul.headerlist {
    display: grid;
    list-style-type: none;
    font-size: 1.5rem;
    justify-content: space-around;
    align-content: center;
    grid-row: 1 / 2;
    grid-column: 2 / 6;
    height: 100%;
    width: 100%;
    background-color: white;
  }

  a.headerlink {
    grid-row: 1 / 2;
  }

  li.home {
    color: #10de73;
    background-color: white;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
  }

  li.about {
    color: #10de73;
    background-color: white;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    width: 100%;
    height: 100%;
  }

  li.recipes {
    color: #10de73;
    background-color: white;
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    width: 100%;
    height: 100%;
  }

  li.contact {
    color: #10de73;
    background-color: white;
    grid-row: 1 / 2;
    grid-column: 5 / 6;
    width: 100%;
    height: 100%;
  }

  div.section-one {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 100%;
    border-right: 5px solid #10bfde;
  }

  img.recipepic {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
  }

  div.section-two {
    display: grid;
    align-self: center;
    grid-row: 2 / 3;
    grid-column: 2 / 6;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .description {
    font-size: 1.1rem;
    word-wrap: wrap;
  }
  
  #cook-time {
    font-weight: bold;
  }
  
  .ingredients li {
    list-style: square;
    word-wrap: wrap;
  }
  
  p.time {
    color: yellow;
  }
  
  .external-link {
    color: #87FFE7;
  }
  
  h1, h2, h3, p, li {
    font-family: Helvetica;
    word-wrap: wrap;
  }

  .citation {
    text-align: left;
  }

  div.footer {
    border-top: 5px solid #10bfde;
    grid-row: 3 / 4;
    grid-column: 1 / 6;
    width: 100%;
    height: 100%;
  }

  p.designer {
    background-color: white;
    color: #10deb9;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  @media only screen and (min-width: 320px) and (max-width: 768px) {
    
      body {
        font-size: 12px;
      }

      div.container {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      justify-content: center;
      align-content: center;
      background-color: #365ce0;
      color: white;
      width: 100%;
      height: auto; 
      }

      header {
        display: grid;
        grid-row: 1 / 2;
        grid-column: 1 / 6;
        border-bottom: 5px solid #10bfde;
        background-color: white;
        padding-bottom: 5%;
      }
    
      h1 {
        font-family: 'Georgia, serif';
        color: #10deb9;
        background-color: white;
        width: 100%;
        height: 100%;
        grid-row: auto;
        grid-column: 1 / 2;
        font-size: 3rem;
        text-align: center;
        align-self: center;
        justify-self: center;
        padding-top: 3%;
      }
    
      ul.headerlist {
        display: grid;
        list-style-type: none;
        font-size: 1.5rem;
        justify-content: space-around;
        align-content: center;
        grid-row: auto;
        grid-column: 1 / 2;
        height: 100%;
        width: 100%;
        background-color: white;
      }
    
      a.headerlink {
        grid-row: auto;
        justify-self: center;
      }
    
      li.home {
        color: #10de73;
        background-color: white;
        grid-row: auto;
        grid-column: 1 / 2;
        width: 100%;
        height: 100%;
      }
    
      li.about {
        color: #10de73;
        background-color: white;
        grid-row: auto;
        grid-column: 1 / 2;
        width: 100%;
        height: 100%;
      }
    
      li.recipes {
        color: #10de73;
        background-color: white;
        grid-row: auto;
        grid-column: 1 / 2;
        width: 100%;
        height: 100%;
      }
    
      li.contact {
        color: #10de73;
        background-color: white;
        grid-row: auto;
        grid-column: 1 / 2;
        width: 100%;
        height: 100%;
      }
    
      div.section-one {
        grid-row: auto;
        grid-column: 1 / 2;
        height: 100%;
        border-right: none;
      }
    
      img.recipepic {
        grid-row: auto;
        grid-column: 1 / 2;
        width: 100%;
        height: 100%;
      }
    
      div.section-two {
        display: grid;
        align-self: center;
        grid-row: auto;
        grid-column: 1 / 2;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
      }

      .description {
        font-size: 1.1rem;
        word-wrap: wrap;
      }
      
      #cook-time {
        font-weight: bold;
      }
      
      .ingredients li {
        list-style: square;
        word-wrap: wrap;
      }
    
      .ingredients {
        padding-bottom: 0px;
      }
      
      p.time {
        color: yellow;
      }
      
      .external-link {
        color: #87FFE7;
      }
      
      h1, h2, h3, p, li {
        font-family: Helvetica;
        word-wrap: wrap;
      }
    
      .citation {
        text-align: left;
      }

      div.footer {
        border-top: 5px solid #10bfde;
        grid-row: auto;
        grid-column: 1 / 2;
        width: 100%;
        height: 100%;
      }
    
      p.designer {
        background-color: white;
        color: #10deb9;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
      }
  }

  