* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
    font-size: 12px;
    background-color: #FFBAA1;
    width: 100%;
    height: 100%;
  }

  div.section {
    display: grid;
    grid-template-rows: 1fr 0.25fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  div.section-one {
    align-self: center;
    justify-items: center;
    width: 80%;
    height: auto;
    
  }

  img {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: auto;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 7%;
    height: auto;
    border: 3px solid #3BB39B; 
    align-self: end;
  }
  
  .description {
    font-size: 1.1rem;
    word-wrap: wrap;
  }
  
  #cook-time {
    font-weight: bold;
  }
  
  .ingredients li {
    list-style: square;
    word-wrap: wrap;
  }
  
  p.time {
    color: #3BB39B;
  }
  
  .external-link {
    color: #87FFE7;
  }
  
  h1, h2, h3, p, li {
    font-family: Helvetica;
    word-wrap: wrap;
  }

  h1 {
    padding-top: 10%;
    font-size: 1.2rem;
  }

  .citation {
    text-align: left;
  }

  @media only screen and (min-width: 768px) {
    
      body {
        font-size: 16px;
      }

      h1 {
        padding-top: 0%;
      }

      img {
        justify-self: center;
        align-self: center;
        width: 100%;
        height: auto;
      }
  }

  @media only screen and (min-width: 1024px) {

    div.section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      align-content: center;
      justify-content: center;
      justify-items: center;
    }

    div.section-one {
      grid-area: 1 / 1 / 2 / 2;
      align-self: center;
      width: 80%;
      height: 80%;
    }

    img {
      grid-area: 1 / 2 / 2 / 3;
      align-self: center;
      height: 80%;
      width: 75%;
      margin-top: 18%;
    }

    h1 {
      padding-top: 5%;
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 2560px) {

    div.section {
      align-content: center;
      justify-content: center;
    }
    
    h1 {
      padding-top: 0%;
      font-size: 70px;
    }

    .description {
      font-size: 40px;
    }

    p#cook-time {
      font-size: 35px;
    }

    h2 {
      font-size: 30px;
    }

    ul.ingredients {
      font-size: 25px;
    }

    p, p.time {
      font-size: 25px;
    }
  }
    